<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:image" content="이미지" />
    <meta property="og:url" content="유알엘" />
    <meta property="og:description" content="디스크립션" />
    <meta property="og:title" content="타이틀" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,900,900i&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/plugins/slick/slick.css" />
    <link
      rel="stylesheet"
      href="./assets/plugins/rangeSlider/css/ion.rangeSlider.min.css"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>beatsomeone</title>
  </head>
  <body>
    <div class="wrapper">
      @@include('./include/header.html')
      <div class="container sub">
        <div class="sublist">
          <div class="wrap">
            <div class="sublist__filter">
              <div class="row">
                <div class="filter">
                  <h2 class="filter__title">FILTER</h2>
                  <div class="filter__content">
                    <ul class="filter__list">
                      <li class="filter__item">
                        <label for="fillter1" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter1"
                          />
                          <span></span> All Genre
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter2" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter2"
                          />
                          <span></span> Hip Hop
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter3" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter3"
                          />
                          <span></span> Pop
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter4" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter4"
                          />
                          <span></span> R&B
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter5" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter5"
                          />
                          <span></span> Rock
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter6" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter6"
                          />
                          <span></span> Electronic
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter7" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter7"
                          />
                          <span></span> Reggae
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter8" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter8"
                          />
                          <span></span> Reggae
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter9" class="checkbox">
                          <input
                            type="radio"
                            name="filter"
                            hidden
                            id="fillter9"
                          />
                          <span></span> World
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="filter">
                  <h2 class="filter__title">Subgenres</h2>
                  <div class="filter__content">
                    <ul class="filter__list">
                      <li class="filter__item">
                        <label for="fillter10" class="checkbox">
                          <input
                            type="radio"
                            name="subgenres"
                            hidden
                            id="fillter10"
                          />
                          <span></span> All
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter11" class="checkbox">
                          <input
                            type="radio"
                            name="subgenres"
                            hidden
                            id="fillter11"
                          />
                          <span></span> Rock
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter12" class="checkbox">
                          <input
                            type="radio"
                            name="subgenres"
                            hidden
                            id="fillter12"
                          />
                          <span></span> Hip Hop
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter13" class="checkbox">
                          <input
                            type="radio"
                            name="subgenres"
                            hidden
                            id="fillter13"
                          />
                          <span></span> Electronic
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter14" class="checkbox">
                          <input
                            type="radio"
                            name="subgenres"
                            hidden
                            id="fillter14"
                          />
                          <span></span> R&B
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter15" class="checkbox">
                          <input
                            type="radio"
                            name="subgenres"
                            hidden
                            id="fillter15"
                          />
                          <span></span> Country
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter16" class="checkbox">
                          <input
                            type="radio"
                            name="subgenres"
                            hidden
                            id="fillter16"
                          />
                          <span></span> K-pop
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="filter">
                  <h2 class="filter__title">BPM</h2>
                  <div class="filter__content">
                    <div class="bpmRange">
                      <input type="text" />
                    </div>
                    <div class="bpmRangeInfo">
                      <input type="text" readonly id="bpm-start" />
                      <span> - </span>
                      <input type="text" readonly id="bpm-end" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="filter">
                  <h2 class="filter__title folded">Moods</h2>
                  <div class="filter__content" style="display: none;">
                    <ul class="filter__list">
                      <li class="filter__item">
                        <label for="fillter21" class="checkbox">
                          <input
                            type="radio"
                            name="moods"
                            hidden
                            id="fillter21"
                          />
                          <span></span> All
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter22" class="checkbox">
                          <input
                            type="radio"
                            name="moods"
                            hidden
                            id="fillter22"
                          />
                          <span></span> Accomplished
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter23" class="checkbox">
                          <input
                            type="radio"
                            name="moods"
                            hidden
                            id="fillter23"
                          />
                          <span></span> Adored
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter24" class="checkbox">
                          <input
                            type="radio"
                            name="moods"
                            hidden
                            id="fillter24"
                          />
                          <span></span> Angry
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="fillter25" class="checkbox">
                          <input
                            type="radio"
                            name="moods"
                            hidden
                            id="fillter25"
                          />
                          <span></span> Annoyed
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="filter">
                  <h2 class="filter__title folded">Track Type</h2>
                  <div class="filter__content" style="display: none;">
                    <ul class="filter__list">
                      <li class="filter__item">
                        <label for="trackTypes1" class="checkbox">
                          <input
                            type="radio"
                            name="trackTypes"
                            hidden
                            id="trackTypes1"
                          />
                          <span></span> All types
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="trackTypes2" class="checkbox">
                          <input
                            type="radio"
                            name="trackTypes"
                            hidden
                            id="trackTypes2"
                          />
                          <span></span> Beats
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="trackTypes3" class="checkbox">
                          <input
                            type="radio"
                            name="trackTypes"
                            hidden
                            id="trackTypes3"
                          />
                          <span></span> Beats with chorus
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="trackTypes4" class="checkbox">
                          <input
                            type="radio"
                            name="trackTypes"
                            hidden
                            id="trackTypes4"
                          />
                          <span></span> Vocals
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="trackTypes5" class="checkbox">
                          <input
                            type="radio"
                            name="trackTypes"
                            hidden
                            id="trackTypes5"
                          />
                          <span></span> Song reference
                        </label>
                      </li>
                      <li class="filter__item">
                        <label for="trackTypes6" class="checkbox">
                          <input
                            type="radio"
                            name="trackTypes"
                            hidden
                            id="trackTypes6"
                          />
                          <span></span> Songs
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="sublist__content">
              <div class="row">
                <h2 class="section-title">
                  TOP <span class="number">5</span>
                  <div class="sort">
                    <span>SORT BY</span>
                    <div class="custom-select ">
                      <button class="selected-option">
                        All select
                      </button>
                      <div class="options">
                        <button class="option" data-value="">
                          sort1
                        </button>
                        <button class="option" data-value="">
                          sort2
                        </button>
                        <button class="option" data-value="">
                          sort3
                        </button>
                        <button class="option" data-value="">Newest</button>
                      </div>
                    </div>
                  </div>
                </h2>
                <div class="topFive">
                  <div class="trending__slide-item albumItem">
                    <button class="albumItem__cover">
                      <img src="https://via.placeholder.com/190x190" alt="" />
                    </button>
                    <a href="#//" class="albumItem__link">
                      <h4 class="albumItem__title">Juice Wrld Type Beat</h4>
                      <p class="albumItem__singer">jonathan mudiayi</p>
                    </a>
                  </div>
                  <div class="trending__slide-item albumItem">
                    <button class="albumItem__cover">
                      <img src="https://via.placeholder.com/190x190" alt="" />
                    </button>
                    <a href="#//" class="albumItem__link">
                      <h4 class="albumItem__title">Juice Wrld Type Beat</h4>
                      <p class="albumItem__singer">jonathan mudiayi</p>
                    </a>
                  </div>
                  <div class="trending__slide-item albumItem">
                    <button class="albumItem__cover">
                      <img src="https://via.placeholder.com/190x190" alt="" />
                    </button>
                    <a href="#//" class="albumItem__link">
                      <h4 class="albumItem__title">Juice Wrld Type Beat</h4>
                      <p class="albumItem__singer">jonathan mudiayi</p>
                    </a>
                  </div>
                  <div class="trending__slide-item albumItem">
                    <button class="albumItem__cover">
                      <img src="https://via.placeholder.com/190x190" alt="" />
                    </button>
                    <a href="#//" class="albumItem__link">
                      <h4 class="albumItem__title">Juice Wrld Type Beat</h4>
                      <p class="albumItem__singer">jonathan mudiayi</p>
                    </a>
                  </div>
                  <div class="trending__slide-item albumItem">
                    <button class="albumItem__cover">
                      <img src="https://via.placeholder.com/190x190" alt="" />
                    </button>
                    <a href="#//" class="albumItem__link">
                      <h4 class="albumItem__title">Juice Wrld Type Beat</h4>
                      <p class="albumItem__singer">jonathan mudiayi</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row">
                <h2 class="section-title">PLAY LIST</h2>
                <div class="playList">
                  <!-- 아래 템플릿 문자열로 붙임 -->
                  <ul class="playList__list" id="playList__list"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      @@include('./include/footer.html')
    </div>
    <script src="./assets/plugins/jquery.js"></script>
    <script src="./assets/plugins/underscore.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="./assets/plugins/slick/slick.js"></script>
    <script src="./assets/plugins/rangeSlider/js/ion.rangeSlider.js"></script>
    <script src="./assets/js/build.js"></script>
    <!-- playlist item 템플릿 문자열 -->
    <script type="text/template" id="playListTemplate">
      <li class="playList__itembox" id="playList__item<%- item.id %>">
        <div class="playList__item playList__item--title">
          <div class="col favorite">
            <button>즐겨찾기</button>
          </div>
          <div class="col name">
            <figure>
              <span class="playList__cover">
                <img
                  src="<%- item.coverImg %>"
                  alt=""
                />
                <% if ( item.isNew === true ) { %>
                <i class="label new">N</i>
                <% } %>
              </span>
              <figcaption>
                <h3 class="playList__title">
                  <%- item.title %>
                </h3>
                <span class="playList__by"><%- item.singer %></span>
              </figcaption>
            </figure>
          </div>
          <div class="col genre">
            <% item.genres.forEach(function(genre, index){ %>
            <button class="<%- genre.active && 'active' %>"><%- genre.title %></button>
            <% }) %>
          </div>
          <div class="col playbtn">
            <button class="btn-play" data-action="playAction<%- item.id %>">재생</button>
            <span class="timer">
              <span class="current"></span>
              <span class="duration">0:00</span>
            </span>
          </div>
          <div class="col spectrum">
            <div class="wave"></div>
          </div>
          <div class="col utils">
            <a href="" class="cart">
              장바구니
              <span class="tooltip">$20.00</span>
            </a>
            <a href="" class="download">다운로드</a>
            <a href="" class="shared">공유하기</a>
          </div>
          <div class="col more">
            <button>
              more
              <span class="tooltip">
                <a href="">action1</a>
                <a href="">action2</a>
                <a href="">action3</a>
              </span>
            </button>
          </div>
        </div>
      </li>
    </script>

    <script>
      _.templateSettings.variable = "item";
      var template = _.template($("#playListTemplate").text());
      var playList = [
        {
          id: 1,
          coverImg: "https://via.placeholder.com/55x55",
          isNew: true,
          title: "Celebration (Buy 1 Get 3 FR...",
          singer: "by Diamond Style",
          genres: [
            {
              active: true,
              title: "All Genre"
            },
            {
              active: true,
              title: "Jaz"
            },
            {
              active: false,
              title: "Amb"
            },
            {
              active: false,
              title: "Fol"
            },
            {
              active: false,
              title: "Singer-Songwriter"
            }
          ],
          audioFile: "./assets/audio/testfile.mp3"
        },
        {
          id: 2,
          coverImg: "https://via.placeholder.com/55x55",
          isNew: true,
          title: "EMOTIONS",
          singer: "by Mvrio",
          genres: [
            {
              active: true,
              title: "Acoustic Folk"
            },
            {
              active: true,
              title: "Electronic"
            },
            {
              active: false,
              title: "Amb"
            },
            {
              active: false,
              title: "Fol"
            },
            {
              active: false,
              title: "Singer-Songwriter"
            }
          ],
          audioFile: "./assets/audio/testfile.mp3",
          subPlayList: []
        },
        {
          id: 3,
          coverImg: "https://via.placeholder.com/55x55",
          isNew: true,
          title: "Aishiteru (Dean Lo-Fi Inst...",
          singer: "by Roko Tensei",
          genres: [
            {
              active: true,
              title: "Hip Hop"
            },
            {
              active: false,
              title: "Jaz"
            },
            {
              active: false,
              title: "Amb"
            },
            {
              active: false,
              title: "Fol"
            },
            {
              active: false,
              title: "World"
            }
          ],
          audioFile: "./assets/audio/testfile.mp3",
          subPlayList: []
        },
        {
          id: 4,
          coverImg: "https://via.placeholder.com/55x55",
          isNew: true,
          title: "Sad Acoustic Guitar",
          singer: "Ryini Beats",
          genres: [
            {
              active: true,
              title: "Acoustic Folk"
            },
            {
              active: false,
              title: "Jaz"
            },
            {
              active: false,
              title: "Free Beats"
            }
          ],
          audioFile: "./assets/audio/testfile.mp3",
          subPlayList: []
        },
        {
          id: 8,
          coverImg: "https://via.placeholder.com/55x55",
          isNew: true,
          title: "Sky Red",
          singer: "by Ant Chamberlain",
          genres: [
            {
              active: true,
              title: "K-Pop"
            },
            {
              active: true,
              title: "Country"
            },
            {
              active: false,
              title: "Amb"
            },
            {
              active: false,
              title: "K-Pop"
            },
            {
              active: false,
              title: "Singer-Songwriter"
            }
          ],
          audioFile: "./assets/audio/testfile.mp3"
        },
        {
          id: 13,
          coverImg: "https://via.placeholder.com/55x55",
          isNew: true,
          title: "Malibu",
          singer: "by Mvrio",
          genres: [
            {
              active: false,
              title: "Fol"
            },
            {
              active: false,
              title: "Singer-Songwriter"
            }
          ],
          audioFile: "./assets/audio/testfile.mp3"
        },
        {
          id: 24,
          coverImg: "https://via.placeholder.com/55x55",
          isNew: true,
          title: "Sky Red_breathe-no bac...",
          singer: "by Ant Chamberlain",
          genres: [
            {
              active: true,
              title: "Reggae"
            },
            {
              active: true,
              title: "R&B"
            },
            {
              active: false,
              title: "Amb"
            },
            {
              active: false,
              title: "Fol"
            },
            {
              active: false,
              title: "Singer-Songwriter"
            }
          ],
          audioFile: "./assets/audio/testfile.mp3"
        }
      ];

      renderPlaylistNoDepth(playList);
    </script>
  </body>
</html>
